:root {
	--color-bg-primary-light: #ffffff;
	--color-bg-primary-dark: #121212;

	--color-bg-secondary-light: #fcfcfc;
	--color-bg-secondary-dark: #252525;

	--color-text-primary-light: #000000;
	--color-text-primary-dark: #ffffff;

	--color-accent-primary-light: #0f9be0;
	--color-accent-primary-dark: #80d9ff;

	--color-accent-secondary-light: #8354f2;
	--color-accent-secondary-dark: #9c75f5;

	--color-accent-tertiary-light: #d200a4;
	--color-accent-tertiary-dark: #f254c3;

	--color-bg-primary: var(--color-bg-primary-light);
	--color-bg-secondary: var(--color-bg-secondary-light);
	--color-text-primary: var(--color-text-primary-light);
	--color-accent-primary: var(--color-accent-primary-light);
	--color-accent-secondary: var(--color-accent-secondary-light);
	--color-accent-tertiary: var(--color-accent-tertiary-light);
}
  
@media (prefers-color-scheme: dark) {
	:root {
		--color-bg-primary: var(--color-bg-primary-dark);
		--color-bg-secondary: var(--color-bg-secondary-dark);
		--color-text-primary: var(--color-text-primary-dark);
		--color-accent-secondary: var(--color-accent-secondary-dark);
		--color-accent-tertiary: var(--color-accent-tertiary-dark);
	}
}
  
body {
	background-color: var(--color-bg-secondary);
	color: var(--color-text-primary);
	font-variant-ligatures: discretionary-ligatures;
}

article {
	max-width: 1200px;
	padding: 1em;
	background-color: var(--color-bg-primary);
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 750px) {
	article{
		padding: 3em;
	}
}

article > header > h1 {
	font-size: 2em;
	margin-top: 0;
}


a {
	color: var(--color-accent-primary);
}

a.footnote-ref,  a.footnote-ref:visited,
a.footnote-back, a.footnote-back:visited {
	color: var(--color-accent-tertiary)
}

a:visited {
	color: var(--color-accent-secondary);
}

.tableparent, .preparent {
	overflow-x: auto;
}

ul.contents {
	list-style: none;
}

ul.contents > li {
	text-indent: -2.5em;
	padding-left: 2.5em;
}

ul.contents > li > a {
	font-family: monospace;
	font-size: 1.25em;
	display: inline-block;
}

ul.contents > li::before {
	padding-right: 0.75em;
	display: inline-block;
	width: 1.5em;
}

ul.contents > li#up::before {
	content: "↩\FE0E"; /* left hook followed by VS-15 */
}

ul.contents > li.directory::before {
	content: "📂\FE0F"; /* open file folder followed by VS-16 */
}

ul.contents > li.document::before {
	content: "📄\FE0F"; /* page facing up followed by VS-16 */
}
