:root {
    --color-bg-primary-light: #ffffff;
    --color-bg-primary-dark: #121212;

    --color-bg-secondary-light: #eeeeee;
    --color-bg-secondary-dark: #000000;

    --color-text-primary-light: #000000;
    --color-text-primary-dark: #ffffff;

    --color-accent-primary-light: #0f9be0;
    --color-accent-primary-dark: #80d9ff;

    --color-accent-secondary-light: #8354f2;
    --color-accent-secondary-dark: #9c75f5;

    --color-accent-tertiary-light: #d200a4;
    --color-accent-tertiary-dark: #f254c3;

    --color-bg-primary: var(--color-bg-primary-light);
    --color-bg-secondary: var(--color-bg-secondary-light);
    --color-text-primary: var(--color-text-primary-light);
    --color-accent-primary: var(--color-accent-primary-light);
    --color-accent-secondary: var(--color-accent-secondary-light);
    --color-accent-tertiary: var(--color-accent-tertiary-light);
}
  
@media (prefers-color-scheme: dark) {
    :root {
        --color-bg-primary: var(--color-bg-primary-dark);
        --color-bg-secondary: var(--color-bg-secondary-dark);
        --color-text-primary: var(--color-text-primary-dark);
        --color-accent-secondary: var(--color-accent-secondary-dark);
        --color-accent-tertiary: var(--color-accent-tertiary-dark);
    }
}
  
body {
    background-color: var(--color-bg-secondary);
    color: var(--color-text-primary);
    font-variant-ligatures: discretionary-ligatures;
}

article {
    max-width: 1200px;
    padding: 1em;
    background-color: var(--color-bg-primary);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article > header > h1 {
    font-size: 2em;
}

a {
    color: var(--color-accent-primary);
}

a.footnote-ref,  a.footnote-ref:visited,
a.footnote-back, a.footnote-back:visited {
    color: var(--color-accent-tertiary)
}

a:visited {
    color: var(--color-accent-secondary);
}

ol.references {
    list-style: none;
}

dd > ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.hanging-indent {
    text-indent: -2.5em;
    padding-left: 2.5em;
}

h1 > #subtitle {
    font-size: smaller;
}

a#pdf {
    font-weight: bold;
}

figure {
    margin-top: 0;
    margin-bottom: 1em;
    margin-right: 0;
    margin-left: 0;
}

blockquote.epigraph {
    text-align: left;
    text-justify: auto;
}

blockquote.epigraph > footer {
    border-top-style: solid;
    border-top-color: var(--color-text-primary);
    border-top-width: 1px;
    text-align: right;
    margin-left: 20%;
    width: 80%;
}

@media (min-width: 750px) {
    article{
        padding: 3em;
    }
    figure {
        margin: unset;
        margin-left: 1em;
        margin-bottom: 1em;
        float: right;
        max-width: 45%;
        max-height: 50%;
        clear: both;
    }

    blockquote.epigraph {
        width: 50%;
        margin-left: 50%
    }
    
    blockquote.epigraph > footer {
        margin-left: 40%;
        width: 60%;
    }
}

blockquote > footer > cite {
    font-style: unset;
}

figure > img {
    width: 100%;
}

/*
caption {
    width: 100%;
}
*/

td {
    vertical-align: top;
}

.tableparent {
    overflow-x: auto;
}

.tableparent > footer {
    font-size: small;
    margin-bottom: 1em;
}

table {
    min-width: 100%;
    border-collapse: collapse;
    border-bottom-color: var(--color-text-primary);
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-top-color: var(--color-text-primary);
    border-top-style: solid;
    border-top-width: 3px;
}

th {
    font-weight: unset;
    text-align: left;
}

thead > tr > th.headerspan {
    text-align: center;
}

thead > tr > th.headerspan:after {
    /* from https://www.steckinsights.com/shorten-length-border-bottom-pure-css/ */
    content: ""; /* This is necessary for the pseudo element to work. */ 
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 97.5%;
    border-bottom-color: var(--color-text-primary);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

/* last header row of table */
thead > tr:last-child > th {
    border-bottom-color: var(--color-text-primary);
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

tbody > tr:last-child > td {
    border-bottom-color: var(--color-text-primary);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
