td.col-title {
	max-width: 15em;
}

td.col-course,td.col-institution {
	max-width: 10em;
}
td.col-title {
	font-style: italic;
}

ol.paper-list {
	list-style-type: none;
	padding-left: 2em;
	margin-top: .25em;
}

ol.paper-list > li {
	display: flex;
	flex-direction: row-reverse;
	margin-bottom: 1em;
	border-left-color: var(--color-accent-tertiary);
	border-left-style: solid;
	padding-left: 1em;
	background-color: var(--color-bg-secondary);
	padding-top: .5em;
	padding-bottom: .5em;
	line-height: 1.15;
}

ol.paper-list > li > div > p {
	margin-top: 0;
	margin-bottom: 0;
}

ol.paper-list > li > div {
	margin-right: 1.5em;
}

ol.paper-list > li > div.data {
	min-width: 6em;
}

ol.paper-list > li > div.info {
	flex-grow: 1;
}

ol.paper-list > li > div.info > h4 {
	font-weight: normal;
	font-style: italic;
	margin-top: 0;
	margin-bottom: .25em;
	font-size: larger;
}

h2, h3 {
	margin-bottom: 0;
}

p.subtitle {
	margin-top: .1em;
	margin-bottom: 0;
	font-style: italic;
}

p.author {
	display: none;
}

@media(max-width: 600px) {
	ol.paper-list {
		padding-left: 0.5em;
	}
}

@media(max-width: 500px) {
	ol.paper-list {
		padding-left: 0;
	}

	ol.paper-list > li {
		display: block;
		flex-direction: row;
	}
	
	ol.paper-list > li > div > p {
		margin-bottom: .3em;
	}
}